:root {
  --amarillo: #fff2af;
  --verde-claro: #90d1ca;
  --verde: #129990;
  --verde-oscuro: #096b68;
  --blanco: #ffffff;
  --gris: #f6f6f6;
}
    body {
        background-color: var(--verde-claro);
         font-family: 'Open Sans', sans-serif;
         font-weight: 300;
    }

    .descripcion-pagina {
        padding: 20px;
        border-radius: 6px;
        color: #000000;
        font-size: 22px;
        background-color: #ffffff;
        line-height: 1.8;
    }

 
header {
  background: linear-gradient(to right, var(--verde-claro), var(--blanco));
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.container1 {
    max-width: 1200px;
    margin: 90px auto 0 auto; /* Centrado y margen superior */
    padding: 20px 50px;
    border-radius: 6px;

}

    .container2{
      padding: 50px 0;
    }

    .wrapper{
        padding: 10px 10%;
    }

    .card_area{
        display: grid;
        margin-top: 50px;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        height: 360px
    }

    .card{
        position: relative;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
        overflow: hidden;
        height: 360px
    }

    .card img{
        height: 360px;
        width: 100%;
        display: block;
        border-radius: 10px;
        transition: transform 0.3s;
    }

    .overlay{
        height: 0;
        width: 100%;
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 0;
        bottom: 0;
        border-radius: 10px;
        background: linear-gradient(transparent, #1c1c1cbb 60%);
        padding: 0 50px;
        text-align: center;
        font-size: 14px;
        transition: height 0.3s;
    }

    .overlay h2 {
     margin-top: 55%;
     margin-bottom: 5px;
     font-size: 20px;
     font-weight: 500;
     letter-spacing: 2px;
     color: #fcfbf5;
    }

     .overlay p {
     font-size: 18px;
     font-weight: 500;
     color: #f3f2ed;
    }

    .card:hover img{
        transform: scale(1.2);

    }

     .card:hover .overlay{
        height: 100%;
        
    }

   @media (max-width: 992px) {
    .card {
        height: 300px;
    }

    .overlay h2 {
        margin-top: 45%;
        font-size: 18px;
    }

    .overlay p {
        font-size: 16px;
    }
}




@media (max-width: 768px) {
   

    .carousel-caption {
        max-width: 90%;
        padding: 10px;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}

.carousel {
    position: relative;
}

.carousel-inner img {
    width: 100%;
    height: 800px; 
    object-fit: cover;
}

/* Laptops y pantallas medianas */
@media (max-width: 1200px) {
    .carousel-inner img {
        height: 600px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .carousel-inner img {
        height: 400px;
    }
}

/* Celulares */
@media (max-width: 480px) {
    .carousel-inner img {
        height: 250px;
    }
}


.hamburger {
  font-size: 28px;
  cursor: pointer;
  background: none;
  border: none;
   color: var(--verde-oscuro);
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: var(--verde);
  padding-top: 60px;
  transition: all 0.3s ease-in-out;
  z-index: 2000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}


nav.open {
  left: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  border-bottom: 1px solid #0d7f79;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

nav ul li a:hover {
  background-color: var(--verde-claro); /* o cualquier color */
  color: var(--verde-oscuro); /* texto más oscuro al pasar */
  transition: background 0.3s ease, color 0.3s ease;
}

a:hover{
  color: white;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

.overlay-menu.active {
  display: block;
}

.footer-custom {
  background-color: var(--verde);
  color: var(--blanco);
  padding: 10px 0;
  margin-top: 40px;
  border-top: 10px solid var(--verde-oscuro);
  text-align: center;
}

.footer-custom p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.footer-custom strong {
  font-size: 1.2rem;
  color: var(--blanco);
}